mixin order-item(data)
  .order-item
    .order-item__head
      .order-item__title
        a(href='#')= data.title
        span= data.date
      .order-item__edit
        a(href="#" data-fancybox="" data-src="/_modal-edit-order.html" data-type="ajax"): +icons('#ic_edit', 17)

    .order-item__main
      if data.state != 'gold'
        .order-item__image: +bgimage(data.image)
      .order-item__props
        if data.state == 0
          .order-props
            .order-props__address
              +icons('#ic_pen', 16)
              span= data.address
            .order-props__all
              ul
                each prop in data.params
                  li
                    span= prop.label
                    a(href="#")= prop.text
            .order-props__link
              a(href=""+data.maplink+"") Смотреть на карте
        if data.state === 'gold'
          .order-props
            .order-props__address
              +icons('#ic_pen', 16)
              span 55.8559055, 37.5208601
            .order-props__state
              span.gold Статус: золотой

      .order-item__action
        .order-item__cnt

          if data.count != 0 
            .order-item__count: a(href="#")= data.count + ' предложение'

          if data.price != 0 
            .order-item__price: a(href="#")
              span Стоимость:
              =data.price

        .order-item__btn
          a(href="#delete"): button.btn.btn-line Удалить
          a(href="#activate"): button.btn.btn-red Активировать
